<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aluno.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @aluno.sobrenome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @aluno.cpf %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @aluno.endereco %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @aluno.profissao %>
</p>

<p>
  <strong>Email:</strong>
  <%= @aluno.email %>
</p>

<p>
  <strong>Cnh:</strong>
  <%= @aluno.cnh %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @aluno.escolaridade %>
</p>

<p>
  <strong>Instituicao:</strong>
  <%= @aluno.instituicao %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @aluno.curso %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>

<table>
    <tr>
    <td><p id="notice"><%= notice %></p></td>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>CPF</th>
      <th>Endereço</th>
      <th>Profissão</th>
      <th>Email</th>
      <th>CNH</th>
      <th>Escolaridade</th>
      <th>Instituição</th>
      <th>Curso</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
    <tr>
    <td><p id="notice"><%= notice %></p></td>
      <td><%= @aluno.nome %></td>
      <td><%= @aluno.sobrenome %></td>
      <td><%= @aluno.cpf %></td>
      <td><%= @aluno.endereco %></td>
      <td><%= @aluno.profissao %></td>
      <td><%= @aluno.email %></td>
      <td><%= @aluno.cnh %></td>
      <td><%= @aluno.escolaridade %></td>
      <td><%= @aluno.instituicao %></td>
      <td><%= @aluno.curso %></td>
      <td><%= link_to 'Edit', edit_aluno_path(@aluno) %></td>
      
    </tr>
    
   
  </table>
